
body {
    font-family: Arial, sans-serif;
    text-align: center;    
    color: lime;
    background-color: black;

}

.games {
    display: inline-block;
    margin: auto;
    width: 12%;
    height: 9%;
}
.gamethumbnails {
    height: 90%;
}

.gametitles {
    color: lime;
}

.funnypics {
    display: inline-block;
    height: 100%;
    width: auto;
}

#funnydiv {
    height: 60vh;
    width: auto;
    text-align: center;
}

#menu {
    text-align: center;
}