
body {
    font-family: Arial, sans-serif;
    text-align: center;    
    color: lime;
    background-color: black;

}

a {
    text-decoration: none;
}

img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.games {
    display: inline-block;
    width: 7%;
    margin-left: 10px;
    margin-right: 10px;
}
.gamethumbnails {
    width: 100%
}

.gametitles {
    color: lime;
}

.funnypics {
    display: inline-block;
    height: 100%;
    width: auto;
}

#funnydiv {
    height: 60vh;
    width: auto;
    text-align: center;
}

#menu {
    text-align: center;
}

