
body {
    font-family: Arial, sans-serif;
    text-align: center;    
    color: lime;
    background-color: black;

}

img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.games {
    display: inline-block;
    width: 7%;
    margin-left: 6px;
    margin-right: 6px;
    padding: 2px;
}
.gamelinks {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
.gamethumbnails {
    width: 100%
}

.gametitles {
    color: lime;
}

.funnypics {
    display: inline-block;
    width: 30%;
}

#funnydiv {
    width: auto;
    text-align: center;
}

#menu {
    text-align: center;
}

.hovered {
    outline: 2px solid lime;
}
